.ForgetPassword{
  width: 100%;
  height: auto;
}
.forget_ps_wrap{
  width: 100%;
  min-height: 70vh;
  padding: 5% 0px 5% 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forget_ps_box{
  width: 40%;
}
.forget_ps_head{
  width: 100%;
  border-bottom: 1px solid var(--fg-five);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
  margin: 0px 0px 20px 0px;
}
.forget_ps_head h2{
  font-size: 2.5rem;
  color: var(--cg-two);
  font-family: var(--font-two);
  font-weight: 300;
  font-style: normal;
  padding: 2px 0px;
  text-transform: capitalize;
}
.forget_ps_box p{
  font-size: 0.9rem;
  color: var(--cg-four);
  font-family: var(--font-two);
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  margin: 0px 0px 15px 0px;
}


.email_con{
  width: 100%;
  margin: 0px 0px 15px 0px;
}
.email_con label{
  width: 100%;
  display: block;
  font-size: 0.9rem;
  color: var(--cg-four);
  font-family: var(--font-two);
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0px 0px 5px 0px;
}
.email_con input{
  width: 100%;
  display: block;
  padding: 8px;
  border: 1px solid var( --bg-five);
  border-radius: 5px;
  outline: none;
  color: var(--cg-one);
}
.email_con input:focus{
  outline: 1px solid var(--bg-ten);
  box-shadow: 0px 0px 3px var(--bg-ten);
}

@media (max-width: 1020px) {
  .forget_ps_box {
    width: 60%;
  }

  .forget_ps_head h2 {
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  .forget_ps_wrap {
    padding: 10% 0px;
  }

  .forget_ps_box {
    width: 80%;
  }

  .forget_ps_head h2 {
    font-size: 1.8rem;
  }

  .forget_ps_box p {
    font-size: 0.8rem;
  }
}