.App{ width: 100%; overflow-x: hidden;}
.Main{width: 100%; padding:  15% 5% 0px 5%; text-align: center;}
.client_side_wrapper{width: 100%; min-height: 100vh; background-color: var(--fg-seven);}
.forgetPW_con{width: 100%; min-height: 100vh; background-color: var(--fg-seven);}
.Billing_con{width: 100%; min-height: 100vh; background-color: var(--fg-seven);}
.cart_wrapper{width: 100%; min-height: 100vh; background-color: var(--fg-seven);}